includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    reportUnmatchedIgnoredErrors: false

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Auth::token#'
        - '#Call to an undefined static method App\\RulesEngineManagementController\\RulesEngineManagementController::evaluateRulesEngine\(\)#'
        - '#Call to an undefined static method App\\RulesEngineManagementController\\RulesEngineManagementController::loadCustodianRules\(\)#'
        - '#Access to an undefined property App\\Models\\User::\$unreadNotifications#'
        - '#Access to an undefined property App\\Models\\ModelState::\$state#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$file_path#'
        - '#Access to an undefined property App\\Models\\User::\$evaluation#'
        - '#Deprecated in PHP 8\.4: Parameter \#1 \$user \(App\\Models\\User\) is implicitly nullable via default value null#'
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable::\$id#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false