includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    reportUnmatchedIgnoredErrors: false

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Auth::token#'
        - '#Call to an undefined static method App\RulesEngineManagementController\RulesEngineManagementController::evaluateRulesEngine#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false