{
    storage file_system {
        root /tmp/caddy_data 
    }
    log {
        output file /dev/stderr
        level INFO
    }
}

:{$PORT} {
    root /var/www/public
    frankenphp {
        worker /var/www/public/index.php
    }
    file_server
}